#draggable-draggable-axes-parameters-snap .demo {
  width: 300px;
}

#draggable-draggable-axes-parameters-snap .grid::before {
  background-size: 100px 56px;
}

#draggable-draggable-axes-parameters-snap .grid::after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 100px;
  width: 100px;
  height: calc(100% - 1px);
  background-image: repeating-linear-gradient(
    45deg,
    currentColor 0,
    currentColor 1px,
    transparent 1px,
    transparent 6px
  );
  background-size: 8px 8px;
}

#draggable-draggable-axes-parameters-snap .square {
  width: 100px;
  height: 56px;
}
.korttipelijuhuu {
    width: 1300px;
    height: 738px;
    position: absolute;;
    top: 170px;
    left: -1px;
    background-color: aliceblue;
}